{% extends 'base.html.twig' %}
{% block title %}Form{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>Add new Participant</h3>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
